@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Pure Tags Definitions */
body {
    background-color: #ebf7ff;
    font-family: 'Sarabun', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    text-align: center;
    background-color: #00798c;
    color: #fff;
    display: inline;
    width: 4em;
    padding: 1em;
    margin: 0 auto;
    border-radius: 25px;
}

/* Navbar*/
nav {
    background-color: #0C1821;
    color: #ebf7ff;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 2.6rem;
    margin: 1em;
}

form {
    background-color: #1b2a41;
    box-shadow: 10px 10px #00798C;
    color: #fff;
    padding: 1.5em;
    display: grid;
    gap: 1em;
    border-radius: 25px;
}

input {
    width: 70%;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 0.9rem;
    border: 0;
    border-bottom: 5px solid #00798C;
}